//- head.jade
head
	title Simple FooTable

	link( rel='stylesheet', href='../footable/css/footable.core.css' )
	link( rel='stylesheet', href='../footable/css/footable.standalone.css' )

	script( src='../jquery/dist/jquery.js' )
	script( src='../footable/js/footable.js' )
